/*

This is a Stylesheet. It goes in the folder "css", which should be in your Root Directory.

You can use Find + Replace to change the following items. Any changes you make will apply to all pages within this Theme Pack.

Title font
"  'Cormorant SC', serif  "

Body font
"  Arial  "

Background color
"  #7E96A1  "

Text and border color
"  #1D2129  "

Textbox color
"  #A8BFC1  "

Button color
"  #B4E9EE  "

Button hover color
"  #324C67  "

*/

body {
    margin: 0px;
    font-family: Arial;
    font-size: 12px;
    background-color: #7E96A1;
    color: #1D2129;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

a {
    color: #1D2129;
    text-decoration: none;
}

h1, h2 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
}

.header-frame {
    width: 100%;
    border: none;
}

.header {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.banner {
    background-color: #A8BFC1;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 10px;
}

.banner-title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    text-align: center;
}

.banner-subtitle {
    font-weight: bold;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 24px;
}

.top-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.top-link {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    justify-content: center;
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    padding: 5px;
    background-color: #B4E9EE;
}

.top-link:hover {
    background-color: #324C67;
    color: #B4E9EE;
    letter-spacing: 2px;
}

.top-link:focus {
    background-color: #324C67;
    color: #B4E9EE;
    letter-spacing: 2px;
}

.footer-frame {
    width: 100%;
    border: none;
    height: 100px;
    display: flex;
    margin-top: auto;
}

.footer {
    background-color: #A8BFC1;
    padding: 10px;
    height: 100%;
}

.title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
}

.subtitle {
    font-size: 24px;
    font-family: 'Cormorant SC', serif;
}

.member {
    background-color: #B4E9EE;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    font-size: 14px;
}

.member:hover {
    background-color: #324C67;
    color: #B4E9EE;
    outline: 2px solid #B4E9EE;
}

.member:focus {
    background-color: #324C67;
    color: #B4E9EE;
    outline: 2px solid #B4E9EE;
}

.main {
    height: 100%;
    margin: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(168, 191, 193);
    padding: 0px 10px;
    overflow: auto;
}

.thumb-group {
    display: flex;
    flex-flow: row wrap;
}

.thumb-box {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(168, 191, 193, 0.6);
    padding: 5px;
    z-index: 2;
    opacity: 0;
    border-radius: 3px;
}

.overlay:hover {
    opacity: 1;
}

.overlay:focus {
    opacity: 1;
}

.thumbnail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 3px;
}

.display {
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    border-radius: 3px;
    margin-top: 10px;
}

#img-text {
    width: 80%;
    text-align: center;
}

#date {
    text-align: right;
    font-style: italic;
}

.gal-desc {
    width: 100%;
}

.hidden {
    display: none;
}