body {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #474366;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
  z-index: 3;
}

:focus {
  outline: 4px double #A5E2DE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 1.6rem;
  margin: 0.6rem 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cover {
  display: flex;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  background-color: #292732;
  color: #6FB3B7;
  padding: 1rem;
  width: 70%;
  max-width: 900px;
}
@media screen and (max-width: 600px) {
  #cover {
    flex-direction: column;
  }
}

#logo {
  width: 30%;
  height: min-content;
  object-fit: contain;
  transform: translateX(-6rem) translateY(3rem) scale(150%);
}

#cover-info {
  width: 75%;
  line-height: 1.4rem;
}
#cover-info .emphasis {
  margin-left: 2rem;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.4rem;
}
#cover-info .tech-row {
  min-height: 250px;
}
#cover-info a {
  color: #A5E2DE;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
}
#cover-info a:hover, #cover-info a:focus {
  color: white;
  text-decoration: underline;
}

.tech-icon {
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  filter: saturate(50%) contrast(150%);
}

#wave {
  position: absolute;
  width: 100%;
  z-index: 1;
  transform: translateY(-30%);
}

#portfolio-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 10rem;
  width: 100vw;
  background-image: url("../img/tile-20-dark.png");
}
#portfolio-outer h2 {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  background-color: #292732;
  color: #6FB3B7;
  padding: 1rem;
  top: -8rem;
  width: 30%;
  text-align: center;
  font-size: 2rem;
}

#portfolio-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.portfolio-display {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.project {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  background-color: #292732;
  color: #6FB3B7;
  padding: 1rem;
  width: 80%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.project-info {
  width: 55%;
}
.project-info a {
  color: #A5E2DE;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
}
.project-info a:hover, .project-info a:focus {
  color: white;
  text-decoration: underline;
}

.screen {
  width: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  height: calc(100% - 2rem);
  z-index: 5;
}
.screen img {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  width: 100%;
}

.p-even .project {
  align-self: flex-start;
}
.p-even .screen {
  align-self: flex-end;
}

.p-odd .project {
  align-self: flex-end;
  align-items: flex-end;
}
.p-odd .screen {
  align-self: flex-start;
}

.button {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0.25rem;
  background-color: #6FB3B7;
  color: #292732 !important;
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 700 !important;
  width: 40%;
  margin: 0.25rem auto 1rem auto;
}
.button:hover, .button:focus {
  background-color: #A5E2DE;
  letter-spacing: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #292732;
  border-bottom: 2px solid #6FB3B7;
  width: 100%;
  margin-bottom: 2rem;
  position: sticky;
  top: -2px;
  z-index: 5;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
nav a {
  width: 20%;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0.25rem;
  background-color: #6FB3B7;
  color: #292732 !important;
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 700 !important;
  margin: 0.5rem;
}
nav a:hover, nav a:focus {
  background-color: #A5E2DE;
  letter-spacing: 2px;
}

#contact {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  background-color: #292732;
  color: #6FB3B7;
  padding: 1rem;
  width: 70%;
  max-width: 900px;
}
#contact a {
  color: #A5E2DE;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
}
#contact a:hover, #contact a:focus {
  color: white;
  text-decoration: underline;
}

#contact-bg {
  background-image: linear-gradient(rgba(111, 179, 183, 0), rgba(111, 179, 183, 0.6));
  width: 100%;
  height: 27rem;
  position: absolute;
  bottom: -20rem;
  z-index: 1;
}

#contact-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 20rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url("../img/tile-20-dark.png");
  z-index: 1;
}

#consent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #292732;
  border-top: 2px solid #6FB3B7;
  width: 100%;
  color: #6FB3B7;
  position: sticky;
  bottom: -2px;
  z-index: 5;
}
@media screen and (max-width: 600px) {
  #consent {
    flex-direction: column;
  }
}
#consent #dismiss {
  width: 20%;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #6FB3B7;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0.25rem;
  background-color: #6FB3B7;
  color: #292732 !important;
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 700 !important;
  margin: 0.5rem;
}
#consent #dismiss:hover, #consent #dismiss:focus {
  background-color: #A5E2DE;
  letter-spacing: 2px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.selected {
  background-color: #6FB3B7;
}

.faded {
  filter: saturate(10%);
}

@media screen and (max-width: 1000px) {
  .portfolio-display {
    width: 100%;
  }
  .screen {
    position: absolute;
    height: auto;
    top: 0;
    left: 25%;
  }
  .project-info {
    width: 100%;
    margin-top: 25%;
  }
  .p-odd .screen, .p-even .screen {
    align-self: flex-start;
  }
  .p-odd .project, .p-even .project {
    align-self: center;
    margin-top: 3rem;
  }
  #cover {
    flex-flow: column nowrap;
    margin-top: 3rem;
  }
  #cover-info {
    width: 100%;
  }
  #logo {
    align-self: center;
    transform: translateY(-2rem) scale(150%);
  }
}
@media screen and (max-width: 600px) {
  .portfolio-display {
    width: 100%;
  }
  .project, #cover {
    width: 90%;
    align-self: center !important;
  }
  .project *, #cover * {
    width: 100%;
  }
  .tech-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .tech-icon {
    width: 5rem !important;
  }
  .screen {
    display: none;
  }
  #cover {
    position: relative;
    margin-top: 5rem;
    padding-top: 5rem;
  }
  #logo {
    position: absolute;
    height: 12rem;
    top: -6rem;
    transform: none;
  }
  nav a, #dismiss {
    width: 90%;
    align-self: center;
  }
  #contact-outer {
    height: 24rem;
  }
  #contact-bg {
    bottom: -24rem;
  }
  #portfolio-outer h2, #contact {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
