@use 'sass:color';

$off-black: #292732;
$dark-blue: #39334F;
$blue: #474366;
$teal: #3F5965;
$mint: #6FB3B7;
$off-white: #A5E2DE;

@mixin accent-font {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@mixin main-font {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

@mixin border {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: $mint;
}

@mixin flex-switch {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin box {
    @include border;
    background-color: $off-black;
    color: $mint;
    padding: 1rem;
}

@mixin centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button {
    @include border;
    @include accent-font;
    padding: 0.25rem;
    background-color: $mint;
    color: $off-black !important;
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 700 !important;
    &:hover, &:focus {
        background-color: $off-white;
        letter-spacing: 2px;
    }
}

@mixin link {
    color: $off-white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease;
    &:hover, &:focus {
        color: white;
        text-decoration: underline;
    }
}

body {
    @include main-font;
    @include centered-column;
    margin: 0;
    background-color: $blue;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    position: relative;
    z-index: 3;
}

:focus {
    outline: 4px double $off-white;
}

h1, h2, h3, h4, h5, h6 {
    @include accent-font;
}

h3 {
    font-size: 1.6rem;
    margin: 0.6rem 0;
}

#root {
    @include centered-column;
}

#cover {
    @include flex-switch;
    @include box;
    width: 70%;
    max-width: 900px;
}

#logo {
    width: 30%;
    height: min-content;
    object-fit: contain;
    transform: translateX(-6rem) translateY(3rem) scale(150%) ;
}

#cover-info {
    width: 75%;
    line-height: 1.4rem;
    .emphasis {
        margin-left: 2rem;
        @include accent-font;
        font-size: 1.5em;
        line-height: 1.4rem;
    }
    .tech-row {
        min-height: 250px;
    }
    a {
        @include link;
    }
}

.tech-icon {
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    filter: saturate(50%) contrast(150%);
}

#wave {
    position: absolute;
    width: 100%;
    z-index: 1;
    transform: translateY(-30%);
}

#portfolio-outer {
    @include centered-column;
    z-index: 1;
    margin-top: 10rem;
    width: 100vw;
    background-image: url("../img/tile-20-dark.png");
    h2 {
        position: absolute;
        @include box;
        top: -8rem;
        width: 30%;
        text-align: center;
        font-size: 2rem;
    }
}

#portfolio-inner {
    @include centered-column;
    width: 100%;
    max-width: 1200px;
}

.portfolio-display {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.project {
    @include box;
    width: 80%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.project-info {
    width: 55%;
    a {
        @include link;
    }
}

.screen {
    width: 50%;
    margin: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    height: calc(100% - 2rem);
    z-index: 5;
    img {
        @include border;
        width: 100%;
    }
}

.p-even {
    .project {
        align-self: flex-start;
    }
    .screen {
        align-self: flex-end;
    }
}

.p-odd {
    .project {
        align-self: flex-end;
        align-items: flex-end;
    }
    .screen {
        align-self: flex-start;
    }
}

.button {
    @include button;
    width: 40%;
    margin: 0.25rem auto 1rem auto;
}

nav {
    @include flex-switch;
    justify-content: center;
    background-color: $off-black;
    border-bottom: 2px solid $mint;
    width: 100%;
    margin-bottom: 2rem;
    a {
        width: 20%;
        @include button;
        margin: 0.5rem;
    }
    position: sticky;
    top: -2px;
    z-index: 5;
}

#contact {
    @include box;
    width: 70%;
    max-width: 900px;
    a {
        @include link;
    }
}

#contact-bg {
    background-image: linear-gradient(color.adjust($mint, $alpha: -1), color.adjust($mint, $alpha: -0.4));
    width: 100%;
    height: 27rem;
    position: absolute;
    bottom: -20rem;
    z-index: 1;
}

#contact-outer {
    @include centered-column;
    width: 100vw;
    height: 20rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-image: url("../img/tile-20-dark.png");
    z-index: 1;
}

#consent {
    @include flex-switch;
    justify-content: center;
    background-color: $off-black;
    border-top: 2px solid $mint;
    width: 100%;
    color: $mint;
    #dismiss {
        width: 20%;
        @include button;
        margin: 0.5rem;
    }
    position: sticky;
    bottom: -2px;
    z-index: 5;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.selected {
    background-color: $mint;
}

.faded {
    filter: saturate(10%);
}

@media screen and (max-width: 1000px) {
    .portfolio-display {
        width: 100%;
    }
  
    .screen {
        position: absolute;
        height: auto;
        top: 0;
        left: 25%;
    }
  
    .project-info {
        width: 100%;
        margin-top: 25%;
    }
  
    .p-odd .screen, .p-even .screen {
        align-self: flex-start;
    }
  
    .p-odd .project, .p-even .project {
        align-self: center;
        margin-top: 3rem;
    }
  
    #cover {
        flex-flow: column nowrap;
        margin-top: 3rem;
    }
  
    #cover-info {
        width: 100%;
    }
  
    #logo {
        align-self: center;
        transform: translateY(-2rem) scale(150%);
    }
}

@media screen and (max-width: 600px) {
    .portfolio-display {
        width: 100%;
    }

    .project, #cover {
        width: 90%;
        align-self: center !important;
    }

    .project *, #cover * {
        width: 100%;
    }

    .tech-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .tech-icon {
        width: 5rem !important;
    }

    .screen {
        display: none;
    }

    #cover {
        position: relative;
        margin-top: 5rem;
        padding-top: 5rem;
    }

    #logo {
        position: absolute;
        height: 12rem;
        top: -6rem;
        transform: none;
    }

    nav a, #dismiss {
        width: 90%;
        align-self: center;
    }

    #contact-outer {
        height: 24rem;
    }

    #contact-bg {
        bottom: -24rem
    }

    #portfolio-outer h2, #contact {
        width: 90%;
    }
}